# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystems are summarized

The objectives covered in this book are: 
1) Creation of Markdown Cells 
2) Listing Popular Data Science Languages
3) Listing some commonly used Data Science Libraries
4) Creation of table containing Data Science Tools 
5) Evaluation of Arithmetic Expressions

Some of the popular languages that Data Scientists use are:
1) Python
2) R
3) SQL

Some of the popular Data Science libraries are: 
1) Tensorflow
2) Numpy
3) Pandas

|Data Science Tools|
|:----------------:|
|RStudio           |
|Apache Spark      |
|TensorFlow        |

### Below are a few examples of evaluating arithmetic expressions in Python:

This a simple arithmetic expression to mutiply then add integers.

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [5]:
200/60

3.3333333333333335

## Author
Talal Imran